<div class="searchBox">
  <div class="searchInput">
    <input #searchInputTag type="text" (focus)="togglePastSearch(true)"
    placeholder="Search for Restaurants or Dishes" (keyup.enter)="triggerSearch($event.target.value)">
  </div>
  <div #pastSearches class="recentSearch">
    Recent Searches
    <ul *ngFor="let item of pastSearchHistory">
      <li (click)="updateSearch($event)">{{item}}</li>
    </ul>
  </div>

  
</div>
<div class="sortFields">
  <div class="sortTitle">
    Sort By
  </div>
  <div (click)="sortByRating()" class="sortBy">
    Ratings
  </div>
  <div  (click)="sortByDeliveryTime()" class="sortBy">
    Delivery Time
  </div>
</div>

<div #restaurantList class="restaurant-list">
  <div *ngFor="let restaurant of listRestaurantArray" class="listContainer">
    <app-restaurant-card [resItem]="restaurant"></app-restaurant-card>
  </div>
</div>